{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static "admin/craftDB_logo.png" %}" height="40px"></a></h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>&nbsp|&nbsp        
    <a href="{% url 'craftadmin:addrecipe' %}"">Add Recipe</a>&nbsp|&nbsp
    <a href="{% url 'craftadmin:craftDB_craftingrecipe_changelist' %}">Crafting Recipes</a>&nbsp|&nbsp
    <a href="{% url 'craftadmin:craftDB_machinerecipe_changelist' %}">Machine Recipes</a>
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}
