{% extends "admin/base_site.html" %}

{% block content %}
<h1> Found Recipes for: {{ output }} </h1>
Choose recipes to commit to CraftDB:<br>

<form action="{% url 'craftadmin:saverecipes' %}" method="post">
{% csrf_token %}

<select multiple name="recipes">
    {% for recipe in recipes %}
        <option value="{{forloop.counter}}">{{recipe.header}}</option>
    {% endfor %}
</select><br>
Hold down CTRL to select multiple!<br><br>
<input type="submit" value="Save to CraftDB">
</form>
{% endblock %}